$primary: rgb(47,36,147);
$secondary: #e53f70;

* {
    font-family: 'Lato', sans-serif;
}

html {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    direction: ltr;
    display: block;
}

body {
    font-family: 'Lato', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    background: #fff;
    min-height: 100vh;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    direction: ltr;
}

div, span, p, i, h1, h2, h3, h4, h5 {
    user-select: none;
}